.main{
    width: 100%;
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-main{
    display: flex;
    align-items: center;
    justify-content: center;
}